<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aspose.CreateProjectWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Aspose.CreateProjectWizard.Properties.Settings>
            <setting name="Aspose_CreateProjectWizard_com_aspose_community_AsposeDownloads"
                serializeAs="String">
                <value>http://community.aspose.com/community/SecureServices/AsposeDownloads.asmx</value>
            </setting>
        </Aspose.CreateProjectWizard.Properties.Settings>
    </applicationSettings>
</configuration>
